@{
    ViewData["Title"] = "Features";
}

<section class="feature-header">
<div class="container">
    <div class="feature">
        <img src="https://images.pexels.com/photos/5469761/pexels-photo-5469761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Volunteer holding a carton box" class="feature-img" />
        <div class="feature-content">
            <h2 class="feature-header">Who we are</h2>
            <h3 class="feature-sub-header">We are not here for income, but for outcome</h3>
            <p class="feature-text">
                Lorem Aenean nec quam efficitur, volutpat felis quis, commodo lacus. 
                Morbi feugiat orci vel urna semper, ac tempus nunc luctus. 
                Etiam quis placerat purus. Nulla fringilla varius lacus, 
                eget eleifend sapien malesuada eget. Phasellus porta magna 
                diam, ut accumsan massa semper in. Aliquam elit lectus, 
                tincidunt eget vulputate vel, faucibus vitae elit. 
                Donec sit amet quam facilisis, hendrerit lacus vitae, 
                commodo dui. Nam consectetur ex nibh, id vulputate ex 
                lacinia nec. Suspendisse nisi ante, luctus vel vestibulum in, 
                commodo non dui. Suspendisse potenti. Nulla euismod lacus elit, 
                vitae malesuada leo varius eu. Nam non quam posuere, facilisis 
                augue sit amet, eleifend augue. In quis elit quis risus ornare tristique.
            </p>
            <div class="quote">
@*                <p class="quote-text">
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aenean dolor leo, scelerisque ac mauris vitae!”
                </p>
                <h4 class="quote-title">John Doe</h4>*@
            </div>
        </div>
    </div>
</div>
</section>

<section class="history-container">
    <div class="container">
        <div class="history">
            <div class="history-content"></div>
            <div class="history-img">
                <img src="../wwwroot/Img/charityworker.jpg" alt="Senior couples" class="history-photo" />
                <img src="../Img/workers.jpg" alt="Workers" class="history-photo" />
            </div>
            <div class="history-content"></div>
        </div>
    </div>
</section>